export export GOOGLE_CLOUD_PROJECT=message-multi-processor
export TF_VAR_google_app_creds=$GOOGLE_APPLICATION_CREDENTIALS
export TF_VAR_project_id=$GOOGLE_CLOUD_PROJECT
export TF_VAR_username="admin"
export TF_VAR_password_id="cluster_password"